<div class="section list">
    <table>
        <colgroup>
            <col style="width: 5%"/>
            <col style="width: 50%"/>
            <col style="width: 10%"/>
            <col style="width: 15%"/>
            <col style="width: 15%"/>
        </colgroup>
        <thead>
	        <tr>
	            <th>글번호</th>
                <th>제목</th>
	            <th>아이디</th>
	            <th>등록일</th>
	            <th>수정일</th>
	        </tr>
        </thead>
        <tbody>
            <tr th:if=${items} th:each="item : ${items}">
                <td th:text="${item.bdSeq}"></td>
<!--                 <a th:href=@{/detail(seq=${item.bdSeq})}>                 -->
                    <td th:text="${item.bdTitle}"></td>
<!--                 </a> -->
                <td th:text="${item.mbId}"></td>
                <td th:text="${item.bdCreateAt}"></td>
                <td th:text="${item.bdUpdateAt}"></td>
<!--                 <td style="display: flex; align-items: center; justify-content: center"> -->
<!--                     <form action="@{mbModify(id=${item.mbId})}" method="post" style="margin-right: 10px"> -->
<!--                         <button type="submit">수정</button> -->
<!--                     </form> -->
<!-- <!--                     <form action="remove/{item.mbId}(id=${item.mbId})" method="get"> --> 
<!-- <!--                         <button type="submit">삭제</button> --> 
<!-- <!--                     </form> --> 
<!--                        <a th:href="@{/remove(id=${item.mbId})}"><button>삭제</button></a> -->
                   
<!--                 </td> -->
            </tr>
            <tr th:unless=${items}>
                <td colspan="8" style="padding: 60px 0"> 데이터가 없습니다 </td>
            </tr>
        </tbody>
    </table>
</div>