<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" th:href="@{css/jquery-ui-1.12.1.css}">
    <link rel="stylesheet" th:href="@{css/jsp-test.css}" type="text/css">
    
    <!-- 뒤로가기 방지 -->
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function() {
            history.go(1);
        }
    </script>
    
    <title>Spring boot</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="logo">
                <a href="/main"> <span>SpringBoot</span> <span>STUDY</span></a>
            </div>
            <div class="content">
                <div class="tit">SpringBoot STUDY</div>
                <div class="form">
<!--                     <form role="form" th:action="@{login.do}" th:object="${statLoginDTO}" action="#" id="loginForm" method="post"> -->
<!--                         <input type="hidden" th:field="*{key}" required>  -->
<!--                         <input type="hidden" th:field="*{value}" required>  -->
<!--                         <input type="text" id="keyData" name="keyData" placeholder="id" required> -->
<!--                         <input type="text" id="valueData" name="valueData" placeholder="password" required> -->
<!--                         <button type="submit" id="submit">LOGIN</button> -->
<!--                     </form> -->
                                        
                    <form   id="loginForm" role="form" action="board" method="post">
				        <input type="text" name ="id" id="id" placeholder="id" required> 
				        <input type="text" name="pw" id="pw" placeholder="pw" required> 
				        <button type="submit" id="submit">LOGIN</button>
				    </form>
				    <ul>
				        <li class="signin"><a  th:href="@{signin}">SIGNIN</a></li>
				    </ul>
				    
                </div>
            </div>
        </div>
    </div>




<!--     <tr th:each="list : ${listTest}"> -->
<!--         <td th:text="${list}"></td> -->
<!--         <td><a href="#" th:text="${message.pw}">Title ...</a></td> -->
<!--         <td th:text="${message.text}">Text ...</td> -->
<!--     </tr> -->
<!--     <tr th:each="message : ${messages}"> -->
<!--         <td th:text="${message.id}">1</td> -->
<!--         <td th:text="${message.pw}">1</td> -->
<!--         <td th:text="${message.mb_use}">1</td> -->
        
<!--         <td><a href="#" th:text="${message.title}">Title ...</a></td> -->
<!--         <td th:text="${message.text}">Text ...</td> -->
<!--     </tr> -->
<!--     <span th:text="${ObjectTest}">1</span> -->
<!--     <form   id="loginForm" role="form" th:action="@{login.do}" th:object="${loginDTO}" action="#"  method="post"> -->
<!--         <input type="text" id="id" name="id" placeholder="id" required/> -->
<!--         <input type="text" id="pw" name="pw" placeholder="pw" required/> -->
<!--         <button type="submit" id="submit">LOGIN</button> -->
<!--     </form> -->
</body>
</html>